<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Simple Form</h1>

    <form method="POST" action="/">
      <label for="name">Enter your origin:</label>
      <input type="text" id="origin" name="origin" required />
      <label for="name">Enter your destination:</label>
      <input type="text" id="destination" name="destination" required />
      <button type="submit">Find</button>

      {% if origin != None and destination != None%}
      <p>Directions from {{origin}} to {{destination}}</p>
      {% endif %} {% if data != None %} {% if data["info"]["statuscode"] == 0 %}
      <p>Trip Duration: {{data["route"]["formattedTime"]}}</p>
      <p>Kilometers: {{"{:.2f}".format((data["route"]["distance"])*1.61)}}</p>
      <p>Directions</p>
      {% for each in data["route"]["legs"][0]["maneuvers"]%}
      <p>
        {{ each["narrative"] }} {{"{:.2f}".format((each["distance"])*1.61)}} km
      </p>
      {% endfor %} {% elif data["info"]["statuscode"] == 402 %}
      <p>Invalid user inputs for one or both locations.</p>
      {% else %}
      <p>Status Code: {{data["info"]["statuscode"]}}</p>
      <p>
        Refer :
        https://developer.mapquest.com/documentation/directions-api/status-codes
      </p>
      {% endif %} {% endif %}
    </form>
  </body>
</html>
