<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Simple Form</h1>

    <form method="GET" action="/">
      <label for="name">Enter your origin:</label>
      <input type="text" id="origin" name="origin" required />
      <label for="name">Enter your destination:</label>
      <input type="text" id="destination" name="destination" required />
      <button type="submit">Find</button>
    </form>
  </body>
</html>
